.Auth {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.Auth-Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 250px;
    width: 330px;  
    border: 0.2em solid $primary-mint-color;
    background-color: darken($primary-dark-color, 4%);
    .auth-img {
        height: 60px;
        margin-bottom: 20px;
    }
    .auth-input {
        margin-bottom: 10px;
    }
}

