$primary-dark-color: #28282C; 
$primary-blue-color: #2673B8;
$primary-mint-color: #8EE3C8;
$calibri-font-stack: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !default;

$breakpoint-mobile: 540px;