.dashboard-page {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    
    
    .dashboard-post {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 20px;
        padding: 10px;
        height: 700px;
        width: 500px;  
        border: 0.2em solid $primary-mint-color;
        background: darken($primary-dark-color, 4%);
        .dashboard-image {
            width: 100%;
        }
        .post-header {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-start;
            font-size: 22px;
            margin-top: 15px;
            
            a{
                text-decoration: none;
                color: $primary-mint-color;
            }
            .post-header-left {
                display: flex;
                flex-direction: row;
                width: 450px;
                .post-header-text {
                    margin-right: 50px;
                    margin-left: 10px;
                    margin-bottom: 20px;
                }
                
                
            }
            
        }
    }
}