.NavClass {
  height: 200px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: darken($primary-dark-color, 8%);

  .logo {
    height: 200px;
  }

  .mobile-nav {
    display: none;
  }

  .mobile-dropdown {
    display: none;
  }

  a {
    text-decoration: none;
    color: $primary-mint-color;
  }

  Link {
    text-decoration: none;
    color: $primary-mint-color;
  }

  .NavButtons {
    text-decoration: none;
    margin: 50px 50px;
  }
  @media all and (max-width: 30em) {
    a.button1 {
      display: block;
      margin: 0.4em auto;
    }
  }
  
  @media (max-width: $breakpoint-mobile) {
    .desktop-nav {
      display: none
    }
    .logo {
      height: 150px;
    }
    .mobile-dropdown {
      width: 30vw;
      display: initial;
      display: flex;

    }
  }
}

button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid $primary-mint-color;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: $primary-mint-color;
  background-color: transparent;
  text-align: center;
  transition: all 0.2s;

  Link {
    color: $primary-mint-color;
  }
}
button:hover {
  color: $primary-mint-color;
  background-color: $primary-blue-color;
}
