@import "config";
@import "dashboard";
@import "nav";
@import "footer";
@import "art";
@import "auth";
@import "dashboard";
@import "profile";
@import "submit";
@import "text";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
  background-color: $primary-dark-color;
  font-family: $calibri-font-stack;
}

Footer {
  color: $primary-dark-color
}